mixin information(languageKey, center)
  .information
    .information__left
      div= helpers.translate(languageKey, 'en')
      div= helpers.translate(languageKey, 'da')
    .information__center= center
    .information__right
      div= helpers.translate(languageKey, 'ar')
      div= helpers.translate(languageKey, 'fa')
