mixin information(leftTop, leftBottom, center, rightTop, rightBottom)
  .information
    .information__left
      .information__left-top= leftTop
      .information__left-bottom= leftBottom
    .information__center= center
    .information__right
      .information__right-top= rightTop
      .information__right-bottom= rightBottom
