extends intro

block title
  div= helpers.translate('Arrivals per month', 'en')
  div= helpers.translate('Arrivals per month', 'da')
  div= helpers.translate('Arrivals per month', 'ar')
  div= helpers.translate('Arrivals per month', 'fa')

block introduction
  p.
    The following #{slideCount} slides show arrivals to countries in the
    Mediterranean region. The numbers are persons per month from #{firstYear}
    until #{lastYear}.
