extends intro

block title
  div= helpers.translate('Deaths per year', 'en')
  div= helpers.translate('Deaths per year', 'da')
  div= helpers.translate('Deaths per year', 'ar')
  div= helpers.translate('Deaths per year', 'fa')

block introduction
  p.
    The following #{slideCount} slides show arrivals and deaths of refugees in
    the Mediterranean region. The numbers are persons per year from #{firstYear}
    until #{lastYear}.
